/********
*HOME
*********/
:root {
 --color-primary: #917758;
 --color-secundary: #3c2915;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	

}
body {
	font-family: 'Roboto Mono', monospace;
}

.home {
	background-size: cover;
	background-image: url(Img/navstar.jpg);
	height: 100vh;
}
.home .header {
	padding: 30px 0
}

.home .header .nav {
	display: flex;
	justify-content: center;

}

.home .header .nav ul {
	display: flex;
	list-style: none;

}

.home .header .nav ul li {
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.home .header .nav ul a {
	color: rgb(250, 248, 155);

	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	padding: 20px;
	display: flex;
	
}

.home .header .nav ul li a:hover {
	border-bottom: 1px solid var (--color-primary);
	color: var (--color-primary);
}

.home .banner {
	color:rgb(14, 0, 0);
	text-align:center;
}

.home .banner span {
	display: block;
}

.home .banner .slogan {
	color: rgb(255, 255, 255);
}
/********
*SERVICES
*********/

.services {
    padding: 100px 0;
    text-align: center;
    background-color: var(--color-primary-light);
}
  
  .services h2 {
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
}
  
.services .boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
  
.services .box {
    border: 3px solid var(--color-primary);
    padding: 50px 40px;
    margin: 30px;
}
  
.services .box h4 {
    color: var(--color-secondary);
    margin-top: 30px;
}
  
.services .box p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 25px;
}
/********
*ciper
*********/
a {
    display: flex;
    justify-content: left;
    padding-top: 25px;
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(245, 255, 245, 0.87);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;    
}
.table textarea {
    width: 600px;
    height: 360px;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    border-color:#13b1fa;
    border-radius: 30px;
    text-align: center;
    padding: 30px;
    
}
.key input {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    border-radius: 60px;
    margin-left: 30px;
    width: 120px;
    height: 120px;
}
input {
    text-align: center;
}

p {
    font-size: 25px;
    margin-top: 65px;
}
.buttons { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    
}
button {
    background-color: #fffb0070 ;
    border-radius: 20px;
    height: 58px;
    width: 264px;
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
}
    button:hover {
    background-color: #e2ec52;

}
