:root {
 --color-primary: #917758;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	

}
body {
	font-family: 'Roboto Mono', monospace;
}

.home {
	background-size: cover;
	background-image: url(Img/navstar.jpg);
	height: 100vh;
}
.home .header {
	padding: 30px 0
}

.home .header .nav {
	display: flex;
	justify-content: center;

}

.home .header .nav ul {
	display: flex;
	list-style: none;

}

.home .header .nav ul li {
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.home .header .nav ul a {
	color: rgb(250, 248, 155);

	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	padding: 20px;
	display: flex;
	
}

.home .header .nav ul li a:hover {
	border-bottom: 1px solid var (--color-primary);
	color: var (--color-primary);
}

.home .banner {
	color:rgb(14, 0, 0);
	text-align:center;
}

.home .banner span {
	display: block;
}

.home .banner .slogan {
	color: rgb(255, 255, 255);
}

.about {
	height: 100vh;
	background-color: #917758ad;
}

.about .container {
	display: flex;
}

.about .timing {
	width: 33%;
	padding: 20px;
	background-image: url(Img/logo.jpg);
}

.about .timing .overlay {
	background:rgba(0, 0, 0, 0.8) ;
}

.about .experience {
	width: 66%;
}

a {
    display: flex;
    justify-content: left;
    padding-top: 25px;
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(245, 255, 245, 0.87);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;    
}
.table textarea {
    width: 600px;
    height: 360px;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    border-color:#13b1fa;
    border-radius: 30px;
    text-align: center;
    padding: 30px;
    
}
.key input {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    border-radius: 60px;
    margin-left: 30px;
    width: 120px;
    height: 120px;
}
input {
    text-align: center;
}

p {
    font-size: 25px;
    margin-top: 65px;
}
.buttons { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    
}
button {
    background-color: #fffb0070 ;
    border-radius: 20px;
    height: 58px;
    width: 264px;
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
}
    button:hover {
    background-color: #e2ec52;

}
